# Virtual environment
venv/

# Python cache files and folders
**/__pycache__/
*.pyc

# Environment variables
.env

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Other ignored files/folders
build/
dist/
*.egg-info/